body {
  margin: 0;
  height: 100%;
}

.container {
  height: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.board {
  width: 40em;
  height: 40em;
  margin-top: 4em;
  padding: 15px;
  border: 1px #aaa solid;
  background-color: rgb(240, 100, 100);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}

.field {
  font-size: 4rem;
}

.field:disabled {
  background-color: #aaa;
}

.reset {
  margin-top: 15px;
}